{% extends "layout.html" %} 

{% block body %}
<table>
    <tr>
        <th>Stipend ID</th>
        <th>Stipend</th>
        <th>Sum</th>
        <th>Explanation</th>
        <th>Receiver's User ID</th>
        <th></th>
    </tr>
    {% for stipend in stipends %}
    <tr>
        <td>{{ stipend.id }}</td>
        <td>{{ stipend.name }}</td>
        <td>{{ stipend.sum }}</td>
        <td>{{ stipend.definition }}</td>
        {% if stipend.receiver == "0"%}
        <td> </td>
        {% endif %}
        {% if stipend.receiver != "0"%}
        <td>{{ stipend.receiver }}</td>
        {% endif %}
        <td>
            <form action="{{ url_for('stipends_edit_form', stipend_id=stipend.id) }}">
                <button type="submit" class="btn btn-primary btn-sm">Set receiver</button>
            </form>
        </td>
        <td>
            <form method="POST" action="{{ url_for('stipends_remove', stipend_id=stipend.id) }}">
                <button type="submit" class="btn btn-primary btn-sm">Delete stipend</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% if users_who_applied_stipends is defined %}
<p>

</p>
<p>
    <b>The following users have applied following stipends:</b>
</p>

<ul>
    {% for user in users_who_applied_stipends %}
    <li>
        <p>User ID: {{user.account_id}} </p>
        <p>Stipend ID: {{user.stipend_id}} </p>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}