<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Avustussovellus</title>
</head>

<body>
{% if current_user.is_authenticated %}
<p>
Login name {{ current_user.name }}.
<a href="{{ url_for('auth_logout') }}">Logout</a>
</p>
{% else %}
<a href="{{ url_for('auth_login') }}">Login</a>
{% endif %}

    <ul>
        <li>
            <a href="{{ url_for('register') }}">Register</a>
        </li>
        <li>
            <a href="{{ url_for('applications_index') }}">List applications</a>
        </li>
        <li>
            <a href="{{ url_for('applications_form') }}">Add an application</a>
        </li>
    </ul>

    {% block body %}
    <p>
        Content.
    </p>
    {% endblock %}
</body>

</html>