{% extends "layout.html" %}
{% block body %}
<p>
    All users:
</p>
<table>
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>User ID</th>
        <th>Registration date</th>
        <th></th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td>{{ account.name }}</td>
        <td>{{ account.username }}</td>
        <td>{{ account.id }}</td>
        <td>{{ account.date_created }}</td>
        <td>
            <form action="{{ url_for('users_view', account_id=account.id) }}">
                <button type="submit" class="btn btn-primary btn-sm">View details</button>
            </form>
        </td>
        <td>
            <form action="{{ url_for('users_edit_form', account_id=account.id) }}">
                <button type="submit" class="btn btn-primary btn-sm">Edit user</button>
            </form>
        </td>
        <td>
            <form method="POST" action="{{ url_for('users_remove', account_id=account.id) }}">
                <button type="submit" class="btn btn-primary btn-sm">Remove user</button>
            </form>
        </td>
        <th>Removing user deletes also his/her applications</th>
    </tr>
    {% endfor %}
</table>

{% if no_applications is defined %}
<p>

</p>
<p>
    <b>The following users have no applications:</b>
</p>

<ul>
    {% for user in no_applications %}
    <li>
        {{user.id}} {{user.name}}
    </li>
    {% endfor %}
</ul>

{% endif %}

{% if no_approved_applications is defined %}
<p>
    
    <b>The following users have unapproved applications or haven't applied:</b>
</p>

<ul>
    {% for user in no_approved_applications %}
    <li>
        {{user.id}} {{user.name}}
    </li>
    {% endfor %}
</ul>

{% endif %}

{% if with_stipends is defined %}
<p>

</p>
<p>
    <b>The following users have received stipends:</b>
</p>

<ul>
    {% for user in with_stipends %}
    <li>
        {{user.id}} {{user.name}}
    </li>
    {% endfor %}
</ul>

{% endif %}


{% endblock %}