{% extends "layout.html" %} {% block body %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Date added</th>
            <th>User ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.username }}</td>
            <td>{{ account.date_created.strftime('%Y-%m-%d') }}</td>
            <td>{{ account.id }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}