 {% extends "layout.html" %} {% block body %}
<form method="POST" action="{{ url_for('applications_create') }}">
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.sum.label }}
            </td>
            <td>
                {{ form.sum }}
            </td>
            <td>
                <ul>
                    {% for error in form.sum.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.definition.label }}
            </td>
            <td>
                {{ form.definition }}
            </td>
            <td>
                <ul>
                    {% for error in form.definition.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Add a new application" />
            </td>
        </tr>
</form>
{% endblock %}